.project-card {
  @apply w-[500px] rounded-lg hover:bg-white hover:scale-105 hover:shadow-lg duration-500;
}

.project-card__image {
  @apply block hover:shadow-xl duration-300;
}

.project-card__link{
  @apply mx-2 font-sans text-2xl underline hover:text-stone-400 hover:scale-105 duration-300;
  line-height: 40px;
}