@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth;
}

.main-text {
  @apply font-serif text-black mb-6 mx-9 text-3xl;
  line-height: 50px;
  letter-spacing: 0.1rem;
}

.heading-3 {
  @apply font-serif text-2xl text-red-600 my-8;
}

.wrapper {
  @apply w-full max-w-7xl px-16 py-5;
}

.wrapper-flex {
  @apply w-full max-w-7xl flex justify-between px-16 py-5;
}
