.jobs {
  @apply mb-16;
}

.jobs__heading {
  @apply font-serif text-black text-2xl lg:mx-0;
  letter-spacing: 0.1rem;
}

.jobs__subheading {
  @apply font-sans text-lg mb-6;
}

.jobs__underline {
  @apply underline;
}

.jobs__list {
  @apply list-disc mx-5 font-sans mb-4 lg:mb-8 no-underline;

  & li {
    @apply my-2;
  }
}
