.education-item {
  @apply my-16;
}

.education-item__heading {
  @apply font-serif text-black mb-4 text-3xl;
  line-height: 50px;
  letter-spacing: 0.1rem;
}

.education-item__info {
  @apply font-serif text-lg;
}
