.get-in-touch {
  @apply md:w-full md:mb-8;
}

.get-in-touch__heading {
  @apply font-serif ml-4 my-2 text-2xl text-stone-400 md:text-center;
}

.get-in-touch__divide {
  @apply my-2 dark:bg-stone-400;
}
