.header {
  @apply font-serif flex justify-center;

  & .header__wrapper {
    @apply w-full max-w-7xl flex justify-between items-center px-16 py-5;
  }

  & .header__logo {
    @apply text-3xl;
  }

  & .header-wrapper {
    @apply w-full max-w-7xl flex justify-between px-16 py-5 items-center;
  }
}