.about-me {
  @apply flex justify-center;

  & .my-photo {
    @apply block w-80 h-80 max-w-none rounded-md mb-8 md:mb-0;
  }

  & .about-me__container {
    @apply lg:flex lg:justify-start lg:gap-5 md:w-full md:flex-col md:items-center;
  }
}

.wrapper-about-me {
  @apply w-full max-w-7xl flex justify-between px-16 py-5 lg:flex-col lg:items-start;
}